* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(../images/background-body.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 1.5em;
  font-family: 'Comfortaa', sans-serif;
}

button {
  font-family: 'Comfortaa', sans-serif;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-right: 76px;
}

#title img {
  width: 60px;
  margin-right: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(0, 0, 0, 0.5);
  height: auto;
  padding: 2em 0;
  margin-bottom: 2em;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  margin-top: 1em;
  align-items: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 0.7em;
  margin: 0 1em;
  position: relative;
  color: white;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #fff;
  width: 100%;
  transform: scaleX(0);
  /* Inicialmente no visible */
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
  /* Expande el subrayado al hacer hover */
}


/* NAV HAMBURGUESA */
#hamburger {
  display: none;
  /* Ocultar por defecto */
  font-size: 2em;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Estilo para mostrar el menú cuando está activo */
/*FIXME: HAY QUE POSICIONARLO BIEN*/
nav.active {
  display: inline-block;
  font-size: 1.5em;
  background-color: initial;
  text-align: center;
  margin-top: 0;
}

nav.active a {
  width: 100%;
  text-align: center;
  margin: 0.5 0.7em;
}

#user {
  width: 40px;
  top: 1em;
  right: 1em;
  top: 15px;
}

#user-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

/* Modal login */


#authModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#authModal .modal-content {
  color: black;
  border-radius: 8px;
  padding: 2em;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
}

#authModal .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  color: #ccc;
  cursor: pointer;
}

#authModal h2 {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #A5005A;
}

#authModal .modal-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#authModal .modal-section label {
  margin-top: 0.8em;
  color: #ccc;
}

#authModal .modal-section input {
  width: 100%;
  padding: 0.6em;
  margin-top: 0.4em;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  font-size: 0.8rem;
  height: 3rem;
}

#authModal .modal-section input::placeholder {
  color: #6c757d;
  opacity: 1;
}

#authModal .modal-button {
  width: 100%;
  padding: 0.8em;
  margin-top: 0;
  background: linear-gradient(45deg, #3B014D, #A5005A);
  color: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background 0.3s ease;
  grid-column: span 2;
  color: white;
}

#authModal .modal-button:hover {
  background: linear-gradient(45deg, #A5005A, #3B014D);
}

#authModal .modal-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9em;
}

#authModal .modal-text a {
  color: #A5005A;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#authModal .modal-text a:hover {
  color: #3B014D;
}

#loginForm {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 0.4em;
  justify-content: center;
  font-size: 0.7em;
  box-sizing: border-box;
}

#registerForm {
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 0.5em;
  display: grid;
}

.login-or-register-error-message {
  margin: 0;
  height: 1.2em;
  color: #f44336;
  font-weight: bold;
  font-size: 1rem;
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0.6em;
  margin-top: 0.4em;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

#authModal .modal-content .modal-section .password-container input {
  width: 100%;
  padding: 0;
  margin: 0;
  height: initial;
}

.fa-eye,
.fa-eye-slash {
  cursor: pointer;
  color: #6c757d;
  display: flex;
  justify-content: center;
  width: 30px;
}


#authModal input:focus-visible {
  outline: none;
  border: none;
}

/* MENU DESPLEGABLE USUARIO */



.user-menu {
  display: none;
  position: absolute;
  background-color: black;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2em;
  width: 10em;
  z-index: 9;
}


.user-menu a {
  text-decoration: none;
  color: white;
}

#panel-admin a,
#panel-admin {
  color: #FF6C14;
}

.user-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-menu ul li {
  padding: 8px 10px;
  cursor: pointer;
}

.user-menu ul li:hover {
  text-decoration: underline;
}

#logout {
  color: red;
}

/* MODAL CIERRE SESION */

.modal-cierre-sesion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-cierre-sesion-content {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.modal-cierre-sesion button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirmar-cierre-sesion {
  background-color: gray;
  color: white;
}

.cancelar-cierre-sesion {
  background-color: gray;
  color: white;
}

#modificar-fecha-button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#modificar-fecha-button:hover {
  background-color: #f0f0f0;
}

#contenedor-fecha-button {
  grid-column: span 2;
  /* Hace que el botón ocupe ambas columnas */
}



/* NUESTRA EMPRESA */

#nuestraEmpresaContent {
  display: flex;
  margin-right: 124px;
  justify-content: center;
  align-items: center;
}

#nuestraEmpresaContent p,
#nuestraEmpresaContent a {
  text-align: center;
  max-width: 50ch;
  height: auto;
  display: inline-block;
}

#nuestraEmpresaContent a {
  color: white;
}

#nuestraEmpresa h2 {
  text-align: center;
  margin: 0;
}

#nuestraEmpresa img {
  width: 100px;
  height: auto;
  justify-self: end;
  margin-right: 1em;
}


/* IFRAME */
.map-container {
  position: relative;
  width: 50%;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
  margin: 2em auto;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* FORMULARIO */
#citas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

#titulo-citas {
  text-align: center;
}

#h2-citas>span {
  font-size: 1.2em;
  position: relative;
  bottom: -3px;
}

#pedir-cita-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  font-size: 0.7em;
  box-sizing: content-box;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #999;
}

input.disabled {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
}

#pedir-cita-button {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

textarea {
  resize: none;
}

.elementos-pedir-cita-form {
  margin-bottom: 15px;
}

.elementos-pedir-cita-form:last-child {
  margin-bottom: 0;
}

#contenedor-problema,
#contenedor-pedir-cita-button,
#abrir-calendario-button {
  grid-column: span 2;
}

/* CALENDARIO */
#abrir-calendario-button {
  padding: 10px 20px;
  background-color: #3362a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: auto;
  width: 70%;
  /* PARA EL SALTITO: */
  display: inline-block;
  transition: transform 0.2s;
}

/* SALTO */
.saltando {
  transform: translateY(-10px);
  /* Salto hacia arriba */
}

#calendarModal {
  display: none;
  /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  box-sizing: border-box;
  align-items: center;
}

#calendarModal * {
  box-sizing: content-box;
}

#calendarModal .modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  min-height: 420px;
  height: auto;
}

#calendarModal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -0.4em;
}

#calendarModal .close:hover,
#calendarModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos del calendario */
.calendar {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  background-color: white;
}

.calendar h2,
.calendar h3 {
  text-align: center;
  margin: 0.2em 0;
}

#monthYear {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.day {
  font-weight: bold;
  text-align: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  gap: 2px;
}

.date {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.available {
  background-color: lightgreen;
}

.admin .semi-complete-day {
  background: linear-gradient(90deg, lightgreen, rgb(241, 183, 74));
}

.date.not-available,
button.not-available {
  background: lightgray;
}

.reserved {
  background: lightgray;
}

.admin .reserved,
.admin .complete-day {
  background: rgb(241, 183, 74);
}


.selected {
  background: #3362a4;
  color: white;
}



.time-slots {
  margin-top: 1em;
  display: grid;
  /* Utiliza un grid para organizar los botones */
  grid-template-columns: repeat(4, 1fr);
  /* 4 columnas */
  gap: 10px;
  /* Espacio entre los botones */
}

.time-slots button {
  padding: 10px;
  /* Espaciado interno para botones */
  border: none;
  /* Sin borde */
  border-radius: 5px;
  /* Esquinas redondeadas */
  color: black;
  /* Color de texto por defecto */
  cursor: pointer;
  /* Cambia el cursor al pasar el ratón */
}


.time-slots button.selected {
  background-color: #3362a4;
  /* Color para horas seleccionadas */
  color: white;
  /* Color de texto para horas seleccionadas */
}

.available button {
  background-color: lightgreen;
  /* Color para slots disponibles */
}

.not-available button {
  background-color: lightgray;
  /* Color para slots no disponibles */
}

#diaNoDisponibleAlerta,
#horaNoDisponibleAlerta {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
  margin: 0;
}

#horaNoDisponibleAlerta {
  margin: 1em auto 0;

}

.transition {
  transition: color 0.2s ease;
}

.calendar .date.selected-not-available,
button.selected-not-available {
  background: #f44336;
  /* Color para horas seleccionadas */
  color: white;
  /* Color de texto para horas seleccionadas */
}

#aceptar,
#aceptar-modal {
  margin: 1em auto 0;
  background-color: #3362a4;
  display: block;
  padding: 0.5em;
  width: 7em;
  height: 3em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  grid-column: span 2;
}

#selectedDay {
  font-weight: bold;
  margin: 1em 0 0;
  text-align: center;
}


/* REVIEWS */
/* EL PRIMER ELEMENTO 'A' QUE SEA HERMANO MENOR DE ESTE SCRIPT */
script[type="application/ld+json"]+a {
  display: none;
}


div>.eapps-widget-toolbar {
  display: none;
}

/* EVITA PROBLEMAS DE OVERFLOW Y SIZING DEL HTML CAUSADOS POR EL PLUGIN DE GOOGLE REVIEWS */
.Main__Content-sc-1oq93m5-1 {
  overflow-x: hidden;
  overflow-y: scroll;
}

#reviews-container {
  overflow: hidden;
}


/* ALERT MESSAGES */

/* Contenedor del mensaje */
#alert-container {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  /* Los mensajes siguen siendo en columna */
  gap: 10px;
  align-items: center;
  /* Asegura que los mensajes se centren horizontalmente */
}

/* Estilo base de los mensajes */
.alert-box {
  display: flex;
  /* Usamos flexbox para alinear icono, texto e imagen */
  align-items: center;
  /* Centrar los elementos verticalmente */
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: bounceIn 0.6s ease-out, fadeOut 0.5s ease-in 4.5s forwards;
}

/* Mensaje positivo */
.alert-positive {
  background-color: #4caf50;
  /* Verde */
  color: white;
  border: 1px solid #3e8e41;
}

/* Mensaje negativo */
.alert-negative {
  background-color: #f44336;
  /* Rojo */
  color: white;
  border: 1px solid #d32f2f;
}



/* MODAL VERIFICAR CORREO */
/* Estilo básico para el modal */
.modal-verificar-correo {
  display: none;
  /* Esconde el modal por defecto */
  position: fixed;
  /* Fija el modal en la pantalla */
  z-index: 10;
  /* Asegura que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Si es necesario, permite desplazamiento */
  background-color: rgba(0, 0, 0, 0.4);
  /* Fondo oscuro con opacidad */
  color: black;
  box-sizing: border-box;
  align-items: center;
}

.modal-verificar-correo * {
  box-sizing: content-box;
  text-align: center;
  font-size: 0.8em;
}

/* Estilo para el contenido del modal */
.modal-verificar-correo-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  height: auto;
}

/* Estilo para el botón de cerrar */
.modal-verificar-correo-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -0.4em;
}

.modal-verificar-correo-close:hover,
.modal-verificar-correo-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para el botón dentro del modal */
#modal-verificar-correo-send-email {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#modal-verificar-correo-send-email:hover {
  background-color: #45a049;
}

#modal-verificar-correo-send-email.disabledButton {
  background-color: gray;
  cursor: not-allowed;
}



/* MODAL CITAS */
.modal-citas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  /* Por defecto oculto */
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.modal-citas-content {
  background-color: #fff;
  padding: 2em 20px 20px;
  border-radius: 10px;
  min-height: 50%;
  width: 90%;
  max-height: 90%;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
}

#modal-citas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
}

.modal-citas-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-citas-cajon {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
  width: 100%;
  align-self: start;
}

.modal-citas-cajon h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
}

.modal-citas-cajon p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

#modal-citas-filter {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.7em;
}

#modal-citas-filter select,
#modal-citas-filter input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
}

#modal-citas-filter select {
  white-space: normal;
}

#modal-citas-filter input {
  flex-grow: 1;
}

.modal-citas-no-resultados,
.modal-facturas-no-resultados {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  margin: auto;
  color: rgb(242, 139, 130);
}

.modal-facturas-no-resultados {
  padding: 1em 0.2em;
}

.cerrar-modal-facturas,
#modal-recuperar-cerrar {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}


#modal-citas-filter label {
  display: inline-block;
  font-weight: bold;
  text-align: end;
}

#filtro-valor:disabled,
#filtro-facturas-valor:disabled {
  background-color: #f5f5f5;
  color: #a9a9a9;
  cursor: not-allowed;
}

.modal-citas-boton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.modal-citas-boton:hover {
  background-color: #0056b3;
}

.modal-citas-botones {
  margin-top: 0.4em;
}

#modal-citas .pendiente {
  background-color: rgba(204, 0, 0, 0.5);
}

#modal-citas .completada {
  background-color: rgba(34, 139, 34, 0.5)
}




/* MODAL CANCELAR CITA */
.modal-cancelar-cita {
  display: none;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-cancelar-cita-content {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.modal-cancelar-cita button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirmar-cancelar-cita {
  background-color: gray;
  color: white;
}

.cancelar-cancelar-cita {
  background-color: gray;
  color: white;
}

#citas img {
  margin-right: -4%;
}

#facturas img {
  margin-right: -7%;
}

#resultado-citas,
#resultado-citas>p {
  display: inline;
}

#recargar-citas {
  position: relative;
  top: 6px;
}


@media (max-width: 1000px) {

  #modal-citas-filter {
    display: grid;
    grid-template-columns: 15% 1fr 15% 1fr;
    /* 2 columnas */
    grid-template-rows: 1fr 1fr;
    /* 6 filas */
    gap: 10px;
    /* Espaciado entre elementos */
    align-items: center;
    justify-items: end;
  }

  .modal-citas-content {
    padding: 1.5em 20px 20px;
  }

  /* Elementos en su posición */
  label[for="filtro-atributo"] {
    grid-column: 1;
    grid-row: 1;
  }

  #filtro-atributo {
    grid-column: 2;
    grid-row: 1;
  }

  #filtro-valor {
    grid-column: 3 / span 2;
    grid-row: 1;
  }

  label[for="filtro-estado"] {
    grid-column: 1;
    grid-row: 2;
  }

  #filtro-estado {
    grid-column: 2;
    grid-row: 2;
  }

  label[for="filtro-mes"] {
    grid-column: 3;
    grid-row: 2;
  }


  #filtro-mes {
    grid-column: 4;
    grid-row: 2;
  }

  #recargar-citas {
    grid-column: 1 / span 4;
    /* Ocupa ambas columnas */
    grid-row: 3;
    justify-self: center;
    /* Centra horizontalmente */
  }

  #resultado-citas {
    grid-column: 1 / span 4;
    /* Ocupa ambas columnas */
    grid-row: 4;
    justify-self: center;
    text-align: center;
  }

  #resultado-citas>p {
    display: block;
  }

  p#contador-citas {
    margin-bottom: 0;
  }

  #recargar-citas {
    display: block;
    margin: 0 auto 0.8em;
  }
}


@media (max-width: 800px) {
  #options {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.7em;
  }

  #modal-citas-filter,
  p#contador-citas {
    font-size: 0.5em;
  }

  p#contador-citas {
    font-size: 0.6em;
    margin-bottom: 0;
  }

  #modal-citas {
    font-size: 1.2em;
  }

  #calendarModal .modal-content {
    font-size: 0.55em;
  }

  #title {
    margin-top: 0.8em;
  }

}

/* ----------------------------- */
/* MODAL FORMULARIO */

#modal-formulario {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.modal-formulario-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 685px;
  position: relative;
  border-radius: 12px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FORMULARIO MODIFICAR CITA */

#titulo-citas {
  text-align: center;
}

.modal-formulario-content h2 {
  color: #02014E;
  text-align: center;
  font-size: 2em;
  margin: 0.3em 0;
}

#h2-citas>span {
  font-size: 1.2em;
  position: relative;
  bottom: -3px;
}

#pedir-cita-form-modal {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  font-size: 0.7em;
  box-sizing: content-box;
  border: 1px solid #02014E;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #999;
}

input.disabled {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
}

#pedir-cita-button {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

textarea {
  resize: none;
}

.elementos-pedir-cita-form {
  margin-bottom: 15px;
}

.elementos-pedir-cita-form:last-child {
  margin-bottom: 0;
}

#contenedor-problema,
#contenedor-pedir-cita-button,
#abrir-calendario-button {
  grid-column: span 2;
}

/* ----------------------- */

/* MODAL FACTURAS */

#invoicesModal {
  display: none;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#invoicesModal .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  overflow-y: auto;
  max-height: 90%;
  position: relative;
}


.invoices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invoice-box {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  padding: 1em;
  font-size: 0.7em;
}

.descargar-btn {
  background-color: #4CAF50;
  /* Color de fondo verde */
  color: white;
  /* Color del texto */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Relleno */
  text-align: center;
  /* Alineación centrada */
  text-decoration: none;
  /* Sin subrayado */
  display: inline-block;
  /* Para que el botón se comporte como un elemento en línea */
  font-size: 14px;
  /* Tamaño de fuente */
  cursor: pointer;
  /* Cursor de mano */
  border-radius: 5px;
  /* Bordes redondeados */
  margin-top: 10px;
  /* Separación superior */
  grid-column: span 2;
}

.descargar-btn:hover {
  background-color: #45a049;
  /* Cambio de color al pasar el ratón */
}

#filtro-facturas-atributo {
  margin-bottom: 0.5em;
}

#contador-facturas {
  font-weight: bold;
  margin-top: 0.5em;
  text-align: center;
}

#modal-facturas-filter label {
  text-align: center;
  margin: 0 auto 0.2em;
  display: block;
}

#modal-facturas-filter select,
#modal-facturas-filter input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
}

/* MODAL RECUPERAR CONTRASEÑA */
/* Estilo del modal */
.modal-recuperar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-recuperar-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
  position: relative;
}

.modal-recuperar-header {
  margin: 0 0 15px 0;
}

.modal-recuperar-enviar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.modal-recuperar-enviar:hover {
  background-color: #0056b3;
}

.modal-recuperar-cerrar {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#contraseña-olvidada {
  grid-column: span 2;
  text-align: center;
  color: #3B014D;
  font-weight: bold;
  margin-bottom: 0;
}

#contraseña-olvidada:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* Animación: Caída con un rebote */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    /* Empieza fuera de pantalla */
  }

  60% {
    opacity: 1;
    transform: translateY(0);
    /* Llega al punto base */
  }

  80% {
    transform: translateY(-20px);
    /* Rebote hacia arriba */
  }

  100% {
    transform: translateY(0);
    /* Se queda fijo */
  }
}

/* Animación de desaparición */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}











@media (max-width: 1180px) {
  #nuestraEmpresa img {
    display: none;
  }

  #nuestraEmpresaContent {
    margin: 0 1em;
  }

  .map-container {
    width: 100%;
    padding-bottom: 60%;
  }
}


/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
  nav {
    display: none;
    /* Ocultar el menú normal */
    flex-direction: column;
    /* Cambiar a columna si es necesario */
    top: 60px;
    /* Ajusta según tu diseño */
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo del menú desplegable */
    width: 100%;
    z-index: 2;
  }

  #hamburger {
    display: block;
    /* Mostrar el botón de hamburguesa */
  }

  body {
    font-size: 1.2em;
  }
}

@media (max-height: 700px) {
  .modal-content {
    font-size: 0.8em;
  }

  #timeSlots button {
    font-size: 0.8em;
  }
}



@media (max-width: 650px) {
  #pedir-cita-form {
    width: 95%;
  }
}

@media (max-width: 600px) {
  #pedir-cita-form {
    width: 90%;
  }

  #loginForm {
    display: flex;
    flex-direction: column;
  }

  #registerForm {
    display: flex;
    flex-direction: column;
  }

  #authModal h2 {
    margin-bottom: 1rem;
  }

  #authModal a {
    display: block;
  }

  #calendarModal .modal-content {
    min-height: 370px;
  }


  @media (max-width: 438px) {
    header h1 {
      width: 160px;
    }
  }
}