#servicios {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicios img {
  width: 100%;
  align-self: center;
}

#titulo-servicios {
  text-align: center;
}

#servicios p {
  max-width: 50ch;
}

#contenido-servicios {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
}

#cards-containers {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}

#cards-containers img {
  width: 40%;
}

#cards-containers h3 {
  font-size: 0.7em;
}

.card button {
  background-color: #E5E5E5;
  border: 2px solid #C0C0C0;
  border-radius: 24px;
  font-size: 0.7em;
  color: #4D4D4D;
  margin-bottom: 2em;
  margin-top: auto;
  padding: 0.5em;
  cursor: pointer;
}



.rows {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

.card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex: 1 1 10%;
  background-color: #E5E5E5;
  text-align: center;
  color: black;
  border-radius: 8px;
  padding: 2em 2em 0em;
  min-height: 300px;
  width: auto;
  box-sizing: border-box;
}



a[href="https://elfsight.com/google-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=google-reviews&utm_term=%25website_domain%25&utm_campaign=free-widget"] {
  display: none;
}


div>.eapps-widget-toolbar {
  display: none;
}


@media (max-width: 1180px) {
  #contenido-servicios {
    display: flex;
    width: 90vw;
    font-size: 1.4em;
  }

  .rows {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
  }

  #contenido-servicios>img {
    display: none;
  }

  #servicios img {
    width: 70px;
  }
}

@media (max-width: 600px) {
  #contenido-servicios {
    display: flex;
  }

  .rows {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
  }

  #contenido-servicios {
    width: 90vw;
  }

  .card {
    padding: 1em;
  }

  .card button {
    margin-bottom: 0;
  }
}

/* CHATGPT */


/* Estilos para las cards en versión móvil */
@media (max-width: 750px) {
  .card {
    width: 75%;
    /* Ajustar el ancho mínimo de cada card */
    margin: 0 10px;
    /* Margen entre cards */
  }
  #cards-containers {
    overflow-x: hidden;
    /* Oculta el desbordamiento horizontal */
    position: relative;
    /* Para el posicionamiento de las cards */
  }
  
  .sliding-card {
    display: flex;
    overflow-x: auto;
    /* Permite el desplazamiento horizontal */
    scroll-snap-type: x mandatory;
    /* Para el efecto de 'snap' */
  }
  
  .card {
    scroll-snap-align: start;
    /* Alineación de las cards al deslizar */
    flex: 0 0 auto;
    /* Mantener el tamaño de la card */
  }
}