* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    height: 100vh;
    background-image: url(../images/background-body.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 1.5em;
    font-family: 'Comfortaa', sans-serif;
  }
  
  button {
    font-family: 'Comfortaa', sans-serif;
  }
  
  #title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-right: 76px;
  }
  
  #title img {
    width: 60px;
    margin-right: 1em;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  
  h1,
  h2,
  h3 {
    font-family: 'Raleway', sans-serif;
  }
  
  header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(0, 0, 0, 0.5);
    height: auto;
    padding: 2em 0;
    margin-bottom: 2em;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    margin-top: 1em;
    align-items: center;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.7em;
    margin: 0 1em;
    position: relative;
    color: white;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 100%;
    transform: scaleX(0);
    /* Inicialmente no visible */
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    /* Expande el subrayado al hacer hover */
  }
  
  
  /* NAV HAMBURGUESA */
  #hamburger {
    display: none;
    /* Ocultar por defecto */
    font-size: 2em;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Estilo para mostrar el menú cuando está activo */
  /*FIXME: HAY QUE POSICIONARLO BIEN*/
  nav.active {
    display: inline-block;
    font-size: 1.5em;
    background-color: initial;
    text-align: center;
    margin-top: 0;
  }
  
  nav.active a {
    width: 100%;
    text-align: center;
    margin: 0.5 0.7em;
  }
  
  #user {
    width: 40px;
    top: 1em;
    right: 1em;
    top: 15px;
  }
  
  #user-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
  }



/* ALERT MESSAGES */

/* Contenedor del mensaje */
#alert-container {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /* Los mensajes siguen siendo en columna */
    gap: 10px;
    align-items: center;
    /* Asegura que los mensajes se centren horizontalmente */
  }
  
  /* Estilo base de los mensajes */
  .alert-box {
    display: flex;
    /* Usamos flexbox para alinear icono, texto e imagen */
    align-items: center;
    /* Centrar los elementos verticalmente */
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: bounceIn 0.6s ease-out, fadeOut 0.5s ease-in 4.5s forwards;
  }
  
  /* Mensaje positivo */
  .alert-positive {
    background-color: #4caf50;
    /* Verde */
    color: white;
    border: 1px solid #3e8e41;
  }
  
  /* Mensaje negativo */
  .alert-negative {
    background-color: #f44336;
    /* Rojo */
    color: white;
    border: 1px solid #d32f2f;
  }

  /* CALENDARIO */
#abrir-calendario-button {
    padding: 10px 20px;
    background-color: #3362a4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: auto;
    width: 70%;
    /* PARA EL SALTITO: */
    display: inline-block;
    transition: transform 0.2s;
  }
  
  /* SALTO */
  .saltando {
    transform: translateY(-10px);
    /* Salto hacia arriba */
  }
  
  #calendarModal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    box-sizing: border-box;
    align-items: center;
  }
  
  #calendarModal * {
    box-sizing: content-box;
  }
  
  #calendarModal .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    min-height: 420px;
    height: auto;
  }
  
  #calendarModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.4em;
  }
  
  #calendarModal .close:hover,
  #calendarModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos del calendario */
  .calendar {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    background-color: white;
  }
  
  .calendar h2,
  .calendar h3 {
    text-align: center;
    margin: 0.2em 0;
  }
  
  #monthYear {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
  }
  
  .day {
    font-weight: bold;
    text-align: center;
  }
  
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    gap: 2px;
  }
  
  .date {
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .available {
    background-color: lightgreen;
  }
  
  .semi-complete-day {
    background: linear-gradient(90deg, lightgreen, rgb(241, 183, 74));
  }
  
  .date.not-available,
  button.not-available {
    background: lightgray;
  }
  
  .reserved {
    background: lightgray;
  }
  
  .reserved, .complete-day {
    background: rgb(241, 183, 74);
  }
  
  
  .selected {
    background: #3362a4;
    color: white;
  }
  
  
  
  .time-slots {
    margin-top: 1em;
    display: grid;
    /* Utiliza un grid para organizar los botones */
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas */
    gap: 10px;
    /* Espacio entre los botones */
  }
  
  .time-slots button {
    padding: 10px;
    /* Espaciado interno para botones */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Esquinas redondeadas */
    color: black;
    /* Color de texto por defecto */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
  }
  
  
  .time-slots button.selected {
    background-color: #3362a4;
    /* Color para horas seleccionadas */
    color: white;
    /* Color de texto para horas seleccionadas */
  }
  
  .available button {
    background-color: lightgreen;
    /* Color para slots disponibles */
  }
  
  .not-available button {
    background-color: lightgray;
    /* Color para slots no disponibles */
  }
  
  #diaNoDisponibleAlerta,
  #horaNoDisponibleAlerta {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    margin: 0;
  }
  
  #horaNoDisponibleAlerta {
    margin: 1em auto 0;
  
  }
  
  .transition {
    transition: color 0.2s ease;
  }
  
  .calendar .date.selected-not-available,
  button.selected-not-available {
    background: #f44336;
    /* Color para horas seleccionadas */
    color: white;
    /* Color de texto para horas seleccionadas */
  }
  
  #aceptar {
    margin: 1em auto 0;
    background-color: #3362a4;
    display: block;
    padding: 0.5em;
    width: 7em;
    height: 3em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  #selectedDay {
    font-weight: bold;
    margin: 1em 0 0;
    text-align: center;
  }

  /* MENU DESPLEGABLE USUARIO */



.user-menu {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 10em;
    z-index: 9;
  }
  
  .user-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .user-menu ul li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .user-menu ul li:hover {
    text-decoration: underline;
  }
  
  #logout {
    color: red;
  }


  /* GRID MAIN */

  main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }


  #options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide el grid en 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }

  .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* MODAL FORMULARIO */

  #modal-formulario {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
  }
  
  .modal-formulario-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 685px;
    position: relative;
    border-radius: 12px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* FORMULARIO */

#titulo-citas {
  text-align: center;
}

.modal-formulario-content h2 {
  color: #02014E;
  text-align: center;
  font-size: 2em;
  margin: 0.3em 0;
}

#h2-citas>span {
  font-size: 1.2em;
  position: relative;
  bottom: -3px;
}

#pedir-cita-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  font-size: 0.7em;
  box-sizing: content-box;
  border: 1px solid #02014E;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #999;
}

input.disabled {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
}

#pedir-cita-button {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

textarea {
  resize: none;
}

.elementos-pedir-cita-form {
  margin-bottom: 15px;
}

.elementos-pedir-cita-form:last-child {
  margin-bottom: 0;
}

#contenedor-problema,
#contenedor-pedir-cita-button,
#abrir-calendario-button {
  grid-column: span 2;
}
  


/* MODAL CITAS */
.modal-citas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; /* Por defecto oculto */
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.modal-citas-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  color: black;
}

.modal-citas-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-citas-cajon {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
}

.modal-citas-cajon h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
}

.modal-citas-cajon p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

#modal-citas-filter {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#modal-citas-filter select,
#modal-citas-filter input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

#modal-citas-filter input {
  flex-grow: 1;
}

.modal-citas-no-resultados {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  margin: 0;
  color: rgb(242, 139, 130);
}


#modal-citas-filter label {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

#filtro-valor:disabled {
  background-color: #f5f5f5;
  color: #a9a9a9;
  cursor: not-allowed;
}

.modal-citas-boton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.modal-citas-boton:hover {
  background-color: #0056b3;
}

.modal-citas-botones {
  margin-top: 0.4em;
}


/* MODAL CANCELAR CITA */
.modal-cancelar-cita {
  display: none;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-cancelar-cita-content {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.modal-cancelar-cita button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirmar-cancelar-cita {
  background-color: gray;
  color: white;
}

.cancelar-cancelar-cita {
  background-color: gray;
  color: white;
}

