#servicios {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-servicios p {
  max-width: 50ch;
}

#titulo-servicios {
  text-align: center;
}
 

  
  #servicios img {
    width: 25%;
    align-self: center;
  }

  
  #contenido-servicios {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 2em;
    width: 40%;
    gap: 2em;
  }


  #listado-servicios {
    padding: 2em 0;
  }
  
  .botones-servicios {
    padding: 1em;
    border-radius: 10px;
    display: block;
    margin: 4em 0;
    width: 100%;
    font-weight: bold;
    border: 2px solid white;
    background-color: rgba(200, 200, 200, 0.6);
  }

  #informacion-servicio {
    width: auto;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(200, 200, 200, 0.6);
  }


  #informacion-servicio h3 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  

  
  
  a[href="https://elfsight.com/google-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=google-reviews&utm_term=%25website_domain%25&utm_campaign=free-widget"] {
    display: none;
  }
  
   div > .eapps-widget-toolbar {
    display: none;
   }