.DS_Store
test-swiper.html
test.html
imagenesAntiguas
testphp.html
get_usuarios.php
insertar_fecha_elegida.php
shared-recarga en cada click dia.js
shared-recarga en cada mes.js
verificacion.html
verificado.html
config/conexion.php
php/PHPMailer-master/src/configurar_phpmailer.php