body {
  margin: 0;
  height: 100vh;
  background-image: url(images/background-body.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* Fija el fondo */
  color: white;
}

h2 {
  font-size: 1.5em;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title img {
  width: 4%;
  margin-right: 1em;
}

header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.5);
  height: 15%;
  padding: 2em;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  gap: 1em;
}

nav a {
  text-decoration: none;
  color: inherit;
}

#nuestraEmpresa {
  padding: 2em;
  color: white;
}

#nuestraEmpresaContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nuestraEmpresa h2 {
  text-align: center;
  margin: 0;
}

#nuestraEmpresa img {
  width: 20%;
  height: auto;
  margin-right: 1.5em;
}

#nuestraEmpresa p {
  width: 40%;
  height: auto;
  margin: 0;
}

#motos {
  height: 300px;
  background-color: #fff;
}

#servicios {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicios img {
  width: 20%;
}

#servicios p {
  max-width: 50ch;
}

#titulo-servicios {
  text-align: center;
}

#contenido-servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

#cards-containers {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  font-size: 1.2em;
}

#cards-containers img {
  width: 40%;
}

.card button {
  background-color: #E5E5E5;
  border: 2px solid #C0C0C0;
  border-radius: 24px;
  font-size: 1em;
  color: #4D4D4D;
  margin-bottom: 2em;
  margin-top: auto;
  padding: 0.5em;

}

#container-servicios-1 {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#container-servicios-2 {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 20%;
  background-color: #E5E5E5;
  text-align: center;
  color: black;
  border-radius: 8px;
  padding: 2em 2em 0em;
  min-height: 250px;
}

/* FORMULARIO */

#citas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo-citas {
  text-align: center;
}

form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #999;
}

#pedir-cita-button {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pedir-cita-button:hover {
  background-color: #45a049;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

textarea {
  resize: none;
}

.elementos-pedir-cita-form {
  margin-bottom: 15px;
}

.elementos-pedir-cita-form:last-child {
  margin-bottom: 0;
}

#contenedor-problema,
#contenedor-pedir-cita-button,
#abrir-calendario-button {
  grid-column: span 2;
}

/* CALENDARIO */
#abrir-calendario-button {
  padding: 10px 20px;
  background-color: #3362a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: auto;
  width: 70%;
}

#abrir-calendario-button:hover {
  background-color: #3339b0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(14.28% - 10px);
  margin: 5px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.available {
  background-color: #4CAF50;
  color: white;
}

.not-available {
  background-color: #f44336;
  color: white;
}